{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div class="avatar">
            {{ with .Site.Params.logo }}
                <img class="img-responsive" src="{{ $.Site.BaseURL }}img/{{ . }}" alt="Whoopsies, this is my bad side!" style = "margin: 0 auto;">
            {{ end }}
                <h1>{{ .Title }}</h1>
        </div>

        <div style = "margin-top: 50px">
            <h2>{{ .Site.Params.description }}</h2>
        </div>
    </div>

</main>

{{ partial "footer" . }}
